In [1]:
# Importing the libraries
import pandas as pd

In [2]:
# Reading in the dataset
data = pd.read_csv('../data/property_pro_full_data.csv')

In [3]:
# Previewing the dataset
data.head()

,Property Type,Title,Location,Bedrooms,Baths,Toilets,Price,Date Added,Contact,More Details
0,Not Defined,4 BEDROOM HOUSE FOR SALE,Omole Phase 1 Ojodu Lagos,4 beds,5 baths,5 Toilets,₦,"Updated 04 Aug 2023, Added 03 Aug 2023",08167742895,"Updated 04 Aug 2023, Added 03 Aug 2023 \n\n\n\..."
1,Not Defined,3 BEDROOM HOUSE FOR SALE,Vgc Lekki Lagos,3 beds,3 baths,3 Toilets,₦,"Updated 04 Aug 2023, Added 18 Jul 2023",08102386902,"Updated 04 Aug 2023, Added 18 Jul 2023 \n\n\n\..."
2,Not Defined,2 BEDROOM HOUSE FOR SALE,Ikate Lekki Lagos,2 beds,2 baths,3 Toilets,₦,"Updated 04 Aug 2023, Added 11 Jul 2023",08102386902,"Updated 04 Aug 2023, Added 11 Jul 2023 \n\n\n\..."
3,Not Defined,4 BEDROOM HOUSE FOR SALE,Vgc Lekki Lagos,4 beds,4 baths,5 Toilets,₦,"Updated 04 Aug 2023, Added 19 Jul 2023",08102386902,"Updated 04 Aug 2023, Added 19 Jul 2023 \n\n\n\..."
4,Not Defined,4 BEDROOM HOUSE FOR SALE,"Magodo Shangisha, Kosofe Ikosi Lagos",4 beds,5 baths,5 Toilets,₦,"Updated 04 Aug 2023, Added 18 Jun 2023",08167742895,"Updated 04 Aug 2023, Added 18 Jun 2023 \n\n\n\..."

In [4]:
# Viewing the information about the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60456 entries, 0 to 60455
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Property Type  60456 non-null  object
 1   Title          60336 non-null  object
 2   Location       60456 non-null  object
 3   Bedrooms       60456 non-null  object
 4   Baths          60456 non-null  object
 5   Toilets        60456 non-null  object
 6   Price          60456 non-null  object
 7   Date Added     60456 non-null  object
 8   Contact        60372 non-null  object
 9   More Details   60456 non-null  object
dtypes: object(10)
memory usage: 4.6+ MB

In [16]:
# Cleaning the bedrooms, baths and toilets
data['Bedrooms'] = data['Bedrooms'].str.strip('beds').str.strip().replace('', 0).astype(int)
data['Baths'] = data['Baths'].str.strip('baths').str.strip().replace('', 0).astype(int)
data['Toilets'] = data['Toilets'].str.strip('Toilets').str.strip().replace('', 0).astype(int)

In [23]:
# Getting the state column
data['State'] = data['Location'].apply(lambda x: x.split()[-1].strip() if x.split()[-1].strip() != 'River' else " ".join(x.split()[-2:]))

In [36]:
data['More Details'].str.lower().str.extract('(price:[\s\d\w]*)')#[1]#.str.lower().str.contains('price')

                            0
0            price:295million
1      price: 48m\n\nfeatures
2                         NaN
3        price: 80m\nfeatures
4            price:310million
...                       ...
60451                     NaN
60452                     NaN
60453              price: 26m
60454                     NaN
60455                     NaN

[60456 rows x 1 columns]